.App{
  width: 95vw;
  height: 95vh;
  overflow: hidden;
  text-align: center;
}
.App h1{
  border:  2px sol burlywood;
  width: 250px;
  margin:  40vh auto 0px auto;
padding: 10px 0;
  border-radius: 15px;
background-color: cornsilk;
box-shadow: rgba(0,0, 0, 0.35)0px 5px 15px;
}
h1{
  font-family: 'Courier New', Courier, monospace;
  color: sandybrown;
}